          <ul class="nav nav-sidebar">
            <li class="{{{index}}}"><a href="/">首頁</a></li>
           
          </ul>
           <ul class="nav nav-sidebar">
            <li class="{{{animals}}}"><a href="/animals">動物管理</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="{{{cages}}}"><a href="/cages">籠子管理</a></li>
          </ul>

          <ul class="nav nav-sidebar">
            <li><a href="/strains">Strains table</a></li>
          </ul>

          
